.entireNav {
  border: none;
  margin: 1% 1.5%;
}
nav {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.7em;
  // border-style: hidden;
  
  .name {
    font-size: 1.2em;
  }
  
  .myNav {
    background-color: white;
  }
}