.title-and-image {
  height: 200px;
  h4 {
    font-size: 1.6em;
  }
  img {
    height: 150px;
    min-width: 270px;
  }
}
.project-card {
  height: 360px;
}
.panel-text {
  height: 174px;
  overflow: scroll;
}