<main id="about-content">

  <div class="row">
    <div>
      <h3>Hi, My Name Is Alex Sanchez</h3>
      <p>
        Currently a student at <a href="http://nashvillesoftwareschool.com/">Nashville Software School</a>, Evening Cohort 6, I began learning web development in late 2016 in my free time with the aid of online courses and tutorials.
        <br><br>
        In 2017 I decided to take the leap and enroll in the NSS evening program to further my learning.
        <br><br>
        I am a firm believer in life-long learning and what I've experienced so far is that this field requires constant growth; Technologies are constantly evolving and we as developers must recognize the power of change and always be ready for the next challenge.
        <br><br>
        Every day offers the chance to discover something new and that always fills me with excitement.
        <br><br>
      </p>
      <br>
      <h3>In my free time I enjoy</h3>
      <p>
        Rock climbing, reading, photography, cooking, and playing video games.
      </p>
      <br>
      <br>
      <br>
      <i class="fa fa-angle-right" aria-hidden="true"></i> Check out the work I've done so far on my <a href="#!/projects">Projects</a> page.
      <br>
      <i class="fa fa-angle-right" aria-hidden="true"></i> Want to reach out? Check out my <a href="#!/contact">Contact</a> information.
      <br>
      <h3>Thanks for stopping by!</h3>
    </div>
  </div>

</main>
<footer>Copyright Alex Sanchez 2017</footer>