<main class="site-content row">
  <article class="socials">
    <h2 id="contact">How to contact me</h2>
    <section class="col-sm-offset-2 col-sm-8">
      <h4 class="col-sm-6">Email:</h4>
      <a class="col-sm-6" href="mailto:alesanchez728@gmail.com">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </section>
    <section class="col-sm-offset-2 col-sm-8">
      <h4 class="col-sm-6">GitHub:</h4>
      <a class="col-sm-6" target=_blank href="https://github.com/alexsanchez728">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </section>
    <section class="col-sm-offset-2 col-sm-8">
      <h4 class="col-sm-6">Instagram:</h4>
      <a class="col-sm-6" target=_blank href="https://www.instagram.com/alexdavidsanchez">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </section>
  </article>
</main>
<footer>Copyright Alex Sanchez 2017</footer>