  <main class="site-content">
    <article class="socials">
      <h2 id="contact">How to contact me</h2>
      <section>
        <h4>Email:</h4>
        <a href="mailto:alesanchez728@gmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </section>
      <section>
        <h4>GitHub:</h4>
        <a target=_blank href="https://github.com/alexsanchez728">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </section>
      <section>
        <h4>Instagram:</h4>
        <a target=_blank href="https://www.instagram.com/alexdavidsanchez">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </section>
    </article>
  </main>
  <footer>Copyright Alex Sanchez 2017</footer>