<div class="row" id="projects">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="jumbotron" id="blogJumbotron">
      <h3>Portfolio</h3>
      <hr>
    </div>
  </div>
</div>
<div ng-repeat="project in projects">
  <div class="col-sm-4">
    <div id="project{{$index}}" class="project-card panel panel-default">
      <div class="panel-heading">
        <img src="{{project.path}}" alt="project screenshot" class="product-img center-block">
      </div>
      <div class="project-panel panel-text panel-body">
        <h4 class="panel-title text-center">{{project.title}}</h4>
      </div>
      <div id="project-description{{$index}}" class="hide project-description panel-text">
        <p>{{project.description}}</p>
      </div>
      <div class="details">
        <hr>
        <a target=_blank title="GitHub Repo" href={{project.link}}>
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a target=_blank title="Live Project" href={{project.live}} ng-show="showLiveWebLink(project)">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </a>
        <a ng-click="showProjectDescription($index)" title="More Info" class="ellipsis-dropdown">
          <i class="fa fa-ellipsis-h"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<footer>Copyright Alex Sanchez 2017</footer>