body {
	margin: 0 auto;
}
h1 {
	text-align: center;
}
nav a {
	text-decoration: none;
	background-color: white;
	font-size: 1.2em;
}
nav div a:hover {
	background-color: red;
	color: white;
}

nav div {
	display: flex;
	justify-content: space-around;
	margin: 0;
	background-color: #75B2A2;
	list-style-type: none;
	text-align: center;
} 
section {
		display: flex;
		justify-content: space-around;
		margin: 0 30%;
	}
footer {
	text-align: right;
}
.active {
  font-size: 24px;
	margin: 0 5px;
}
.socials img {
	max-width: 70px;
	max-height: 70px;
}
#contact {
	text-align: center;
}
.name {
	background-color: #c0ffee;
	padding: 1.2em;

}
.name h1 {
	margin: 0;
}
/*.active {

}*/