.socials {
  text-align: center; }
  .socials a {
    font-size: 2em; }
  .socials h4 {
    font-size: 1.6em; }

#about-content {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6em;
  margin-bottom: 20%;
  margin-top: 2%; }
  #about-content h3 {
    font-weight: bolder;
    border-bottom: 1px solid black; }
  #about-content h3:last-of-type {
    text-align: right;
    border-bottom: none;
    font-weight: bolder; }
  #about-content p {
    text-indent: 50px; }
  #about-content a {
    text-decoration: underline; }

/*BLOG*/
.blog-card {
  margin: 0 15px; }

.jumbotron p {
  font-size: 1.6em;
  line-height: 1.7em; }

.panel {
  height: 300px;
  overflow: hidden; }

.panel-heading {
  height: 140px; }

.blog-card {
  margin: 1%;
  width: 300px;
  border: 1px solid #d8d8d8;
  border: 1px solid rgba(216, 216, 216, 0.75);
  border-radius: 2%;
  flex-direction: column; }

.blog-card h4 {
  font-size: 1.6em;
  margin-top: 15px;
  margin-bottom: 10px; }

.blog-card h6 {
  margin-top: 10px;
  margin-bottom: 20px; }

.blog-card p {
  margin: 10px 12px 12px; }

body {
  font-family: 'Droid Sans', sans-serif; }

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%; }

#blogJumbotron {
  padding: 2%;
  background-color: white; }

.entireNav {
  border: none;
  margin: 1% 1.5%; }

nav {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6em; }
  nav .name {
    font-size: 1.2em; }
  nav .myNav {
    background-color: white; }

.title-and-image {
  height: 200px; }
  .title-and-image h4 {
    font-size: 1.6em; }
  .title-and-image img {
    height: 150px;
    min-width: 270px; }

.project-card {
  height: 360px; }

.panel-text {
  height: 174px;
  overflow: scroll; }
